#bank_accounts_choice_box {
    -fx-pref-height: 12;
    -fx-pref-width: 300;
}

.transfer-vbox {
    -fx-pref-width: 400;
    -fx-alignment: center;
}

.label {
    -fx-font-size: 12;
    -fx-alignment: center;
    -fx-pref-height: 35;
}

.text-field {
    -fx-font-size: 12;
    -fx-pref-height: 30;
}

.button {
    -fx-pref-width: 100;
    -fx-pref-height: 30;
}