.root_stack_pane {
    -fx-pref-width: 600;
    -fx-pref-height: 400;
    -fx-alignment: center;
}

.vbox {
    -fx-max-width: 300;
    -fx-max-height: 250;
    -fx-alignment: center;
}

.title_label {
    -fx-text-fill: #4154f1;
    -fx-pref-height: 100;
    -fx-alignment: center;
}

.button {
    -fx-pref-width: 300;
}

#feedback_message_label {
    -fx-pref-height: 50;
    -fx-text-fill: red;
}