.border-pane {
    -fx-pref-width: 600;
    -fx-pref-height: 400;
}

.table-view {
    -fx-pref-width: 400;
    -fx-pref-height: 200;
}

.label {
    -fx-font-size: 20;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-pref-height: 50;
    -fx-pref-width: 200;
}

.text-field {
    -fx-font-size: 16;
}

#feedback_message_label {
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-text-fill: red;
    -fx-pref-width: 300;
    -fx-font-weight: normal;
}

.button {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-alignment: center;
}

.choice-box {
    -fx-font-size: 14;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 14;
}

.table-view .table-column{
      -fx-alignment:center;
  }

.table-view .table-cell{
      -fx-font-weight:bold;
      -fx-font-size:12px;           //the font size you asked in the comments below
      /* -fx-text-fill:orange; */

  }

.table-row-cell:hover {
      -fx-background-color:#717ff5;;
}

.table-row-cell:focused {
      -fx-background-color:#4154f1;
}