.border-pane {
    -fx-pref-width: 600;
    -fx-pref-height: 400;
}

.label {
    -fx-font-size: 20;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-pref-height: 50;
    -fx-pref-width: 200;
}

.text-field {
    -fx-font-size: 16;
}

#feedback_message_label {
    -fx-font-size: 12;
    -fx-alignment: center;
    -fx-text-fill: red;
    -fx-pref-width: 300;
    -fx-font-weight: normal;
}

.button {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-alignment: center;
}

.choice-box {
    -fx-font-size: 14;
}