.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
}

.breadcrumb li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.breadcrumb li+li:before {
    content: "/";
    padding: 0 10px;
}

.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

.breadcrumb li.active {
    color: #555;
}