/* Set the height of the HTML and body elements to 100% to make sure the page takes up the full height of the viewport */
html, body {
    height: 100%;
}

/* Use flexbox to center the main content vertically and horizontally */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Set the maximum width of the main content to 500px and center it horizontally */
.main {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

/* Display the form labels as blocks to make sure they are on separate lines and add some margin to the bottom for spacing */
.form-label {
    display: block;
    margin-bottom: 10px;
}

/* Display the form controls as blocks to make sure they are on separate lines and fill the width of the container */
.form-control {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.login-button {
    display: block;
    width: 100%;
    padding: 5px 20px;
    margin-top: 20px;
    background-color: #45a0ab;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}